.about__container {
    padding: 50px 20px;
}

.about h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 36px;
}

.about p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.about p + p {
    margin-top: 24px;
}

.about__decor img {
    display: block;
    width: 100%;
}

@media (min-width: 1200px) {
    .about__container {
        max-width: 1360px;
        margin: 0 auto;
        padding: 80px 20px;
        display: flex;
    }

    .about__block {
        flex-shrink: 0;
    }

    .about__block:nth-of-type(1) {
        width: 25%;
        margin-right: 25%;
    }

    .about__block:nth-of-type(2) {
        width: 50%;
    }

    .about h2 {
        position: relative;
    }

    .about h2::before {
            content: '';
            width: 200px;
            height: 200px;
            background-color: #F39339;
            display: block;
            position: absolute;
            bottom: -250px;
            left: 160px;
            border-radius: 50%;
            animation: Pulse 4s infinite;
    }
}