.button {
    padding: 16px 54px;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #F39339;
}