.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #FCEBDC;
}

.header__logo-link img {
    display: block;
    width: 156px;
    height: 40px;
}

.header__button-icon {
    margin-left: auto;
    position: relative;
    background: unset;
    border: unset;
    display: block;
    width: 24px;
    height: 24px;
}

.header__button-icon::before,
.header__button-icon::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 2px;
    background-color: #000000;
    transition: all 0.4s ease;
    border-radius: 4px;
}

.header__button-icon::before {
    top: 8px;
    left: 4px;
}

.header__button-icon::after {
    bottom: 8px;
    left: 4px;
}

.header__button:checked + .header__button-icon::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

.header__button:checked + .header__button-icon::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.header__container {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    height: 50px;
}

.header__navigation {
    position: absolute;
    left: -100%;
    top: 44px;
    z-index: 3;
    width: 100%;
    background-color: #FCEBDC;
    padding: 0 18px;
    transition: left 0.4s ease;
}

.header__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__navigation-item {
    padding: 10px 0;
    text-align: center;
}

.header__navigation-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.header__navigation-link:hover {
    color: #18AC52;
}

.header__navigation-link--active {
    border-bottom: 1px solid #000000;
}

.header__button:checked ~ .header__navigation {
    left: 0;
}

@media (min-width: 1200px) {
    .header__button-icon {
        display: none;
    }

    .header__navigation {
        width: fit-content;
    }

    .header__logo-link {
        margin-right: auto;
    }

    .header__container {
        max-width: 1360px;
        margin: 0 auto;
        padding: 28px 20px;
        height: unset;
        align-items: center;
    }

    .header__navigation {
        position: static;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }

    .header__navigation-list {
        display: flex;
        margin-right: auto;
        width: fit-content;
    }

    .header__navigation-item {
        padding: 0;
        margin-right: 54px;
    }

    .header__navigation-item:first-child {
        margin-left: 0;
    }
}